<footer class="site-footer">
    <div class="upper-footer">
        <div class="container">
            <div class="row">

                <div class="col col-md-4 col-sm-6">
                    <div class="widget service-links-widget">
                        <h3>Quick Links</h3>
                        <ul>
                            <li><a href="/about">Who We Are</a></li>
                            <li><a href="/products">Products</a></li>
                            <li><a href="/certificates">Certificates</a></li>
                            <li><a href="/quality">Quality Policy</a></li>
                            <li><a href="/contact">Contact</a></li>
                        </ul>
                    </div>
                </div>

                <div class="col col-md-4 col-sm-6">
                    <div class="widget quick-links-widget">
                        <h3>We On Social Media</h3>
                        <ul>
                            <li><a href="#"><i class="fa fa-instagram"></i>     Instagram</a></li>
                            <li><a href="#"><i class="fa fa-facebook"></i>      Facebook</a></li>
                            <li><a href="#"><i class="fa fa-twitter"></i>       Twitter</a></li>
                            <li><a href="#"><i class="fa fa-youtube"></i>       Youtube</a></li>
                        </ul>
                    </div>
                </div>

                <div class="col col-md-4 col-sm-6">
                    <div class="widget about-widget">
                        <div class="footer-logo"><img width="240px" height="65px" src="assets/images/Logo.jpg" alt></div>
                        <ul class="contact-info">
                            <li><i class="fa fa-home"></i> Fevzi Çakmak Mh. Şehit Mustafa Tünel Cd. No: 5/H Karatay/Konya</li>
                            <li><i class="fa fa-phone"></i> +90 535 645 74 85</li>
                            <li><i class="fa fa-clock-o"></i> Working Hours: <br>Mon-Fri (08:00 - 17:00)</li>
                        </ul>
                    </div>
                </div>

            </div>
        </div>
    </div> <!-- end upper-footer -->
    <div class="copyright-info">
        <div class="container">
            <p>2023 &copy; All Rights Reserved by <a href="http://hydmax.com">HYDMAX.</a></p>
        </div>
    </div>
</footer>