        <!-- start preloader -->
        <div class="preloader">
            <div class="preloader-inner">
                <img src="assets/images/preloader.gif" alt>
            </div>
        </div>
        <!-- end preloader -->

        <!-- Start header -->
        <header id="header" class="site-header header-style-3">
    

            <nav class="navigation navbar navbar-default">
                <div class="container">
                    <div class="navbar-header">
                        <button type="button" class="open-btn">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <div class="site-logo">
                            <a href="/"><img width="209" height="50" src="assets/images/Logo.png" alt></a>
                        </div>
                    </div>
                    <div id="navbar" class="navbar-collapse collapse navbar-right navigation-holder">
                        <button class="close-navbar"><i class="fa fa-close"></i></button>
                        <ul class="nav navbar-nav">
                            <li><a href="/">Home</a></li>
                            <li class="menu-item-has-children">
                                <a>About Us</a>
                                <ul class="sub-menu">
                                    <li><a href="/about">Who We Are</a></li>
                                    <li><a href="/mission-vision">Mission & Vision</a></li>
                                    <li><a href="/quality-policy">Quality Policy</a></li>
                                    <li><a href="/certificates">Certificates</a></li>
                                    <li><a href="/ldpl">LDPL</a></li>
                                </ul>
                            </li>
                            <li class="menu-item-has-children">
                                <a>Products</a>
                                <ul class="sub-menu">
                                    <li><a href="/products-engine">Engines</a></li>
                                    <li><a href="/products-pump">Pumps</a></li>
                                </ul>
                            </li>
                            <li><a href="/media">Media</a></li>
                            <li><a href="/contact">Contact</a></li>

                        </ul>
                    </div><!-- end of nav-collapse -->
                </div><!-- end of container -->
            </nav> <!-- end navigation -->
        </header>
        <!-- end of header -->